html{
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: #EAEAEA;
    position: relative;
    overflow-x: hidden;
}

a {
    font-size: 1.2rem;
    font-weight: bold;
    color: #E76F51;
}

a:hover{
    text-decoration: none;
    color: #E76F51;
}

h1{
    margin-top: 50px;
    text-align: center;
    font-size: 3rem;
    color: #264653;
}

h2{
    margin-top: 75px;
    text-align: center;
    margin-bottom: 50px;
    text-decoration: underline;
    color: #264653;
}

p{
    text-align: center;
    color: #264653;
    font-size: 1rem;
}

h4{
    text-align: center;
    margin-bottom: 50px;
    font-size: 1.2rem;
}

hr {
    display: block;
    width: 75%;
    background-color: #E76F51; 
    margin-top: 0;
    margin-bottom: 10px;
}



footer {
    height: 50px;
    width: 100%;
    margin-top: 50px;
    background-color: #264653;
}

section{
    display: block;
}


table{
    margin: auto;
    width: 70% !important;
}


tr:nth-child(even){
    background-color: #cfcfcf;
}

thead{
    background-color: #EAEAEA; 
    color: #264653;
}


#search-text{
    min-width: 50%;
}

.navLink {
    color: inherit;
    text-decoration: inherit;
    text-align: center;
}


.nav-wrapper{
    margin-top: 40px;
    /* background-color: #264653; */
}



.container {
    max-width: 80%;
}

.btn{
    outline: none;
    color: #E76F51;
    padding-bottom: .8rem;
    border-radius: 0;
}


.btn:focus{
    outline: none;
    box-shadow: none;
}

.btn:hover{
    color: #E76F51;
    border-radius: 0;
}

.btn:hover hr{
    opacity: 100%;
    transition: opacity 750ms ease-in-out;
}

.links{
    margin-top: 20px;
    margin-bottom: 50px;
}

.section-text{
    text-align: center;
}


.img-banner{
    max-height: fit-content;
    max-width: auto;
    margin-bottom: 20px;
    border-radius: 20px;
    text-align: center;
    /* -webkit-box-shadow: 0 0 5px 2px grey;
    -moz-box-shadow: 0 0 5px 2px grey;
    box-shadow: 0 0 5px 2px grey; */
}


.img-medium{
    border-radius: 5%;
    max-width: 80%;
    max-height: 80%;
    /* -webkit-box-shadow: 0 0 5px 2px grey;
    -moz-box-shadow: 0 0 5px 2px grey;
    box-shadow: 0 0 5px 2px grey; */
}

.burger{
    float: right;
    display: none;
}


.myLink, .myLink:hover{
    color: #F4A261;
    text-decoration: none;
    font-size: .8rem;
}

.back-to-top {
    background-color: #E76F51;
    padding: 10px;
    border-radius: 50%;
    position: fixed;
    bottom: 25px;
    right: 25px;
    opacity: 0%;
    transition: opacity 1s;
    font-size: 1rem;
}

.fadeIn{
    opacity: 100%;
    transition: opacity 1s;
    
}


.fa{
    font-size: 1.2rem;
    color: white;
}

.fa-nav{
    font-size: 1.2rem;
    margin-left: .5rem;
    display: none;
    color: #E76F51;
    transition: color, 1s;
}

.email, .email:hover{
    color: #264653;
    text-decoration: none;
    font-size: 1.5rem;    
}

.fa-envelope{
    margin-left: 10px;
    display: inline-block;
}

.fa-envelope-open{
    margin-left: 10px;
    display: none;
}

.fa-heart{
    color: #E76F51;
    text-align: center;
    margin-left: 0.5rem;
}

.registry{
    max-width: 80%;
    display: inline-block;
}

.registry-row{
    text-align: center;
}

.registry-amazon{
    margin-top: 25px;
}
.registry-zola{
    margin-top: auto;
    max-width: 70%
}

.registry-button{
    margin-top: 50px;
}

.carousel-inner img{
    max-height: 30%;
}



.footer-copyright{
    color:white;
    margin-bottom: 0px;
    font-size: .8rem;
}

.table-seating{
    border-radius: 5px;
    transition: background-color 1s;
}

.table-seating:hover{
    background-color: #264653;
    transition: background-color 1s;
}


#our-story, #details, #dinner, #registry, #contact{
    padding-top: 50px;
    margin-top: -50px;
}




/* smallest breakpoint for Bootstrap */
@media (max-width: 575px) {
    .fixed-top{
        position: relative;
    }
    .fixed-top hr{
        width: 56.5%;
    }
    hr{
        display: block;
    }
    .sticky{
        display: block;
        position: fixed;
        top: 0;
    }
    .back-to-top{
        right: 15px;
        font-size: 1rem;
    }
    a{
        font-size: 1.4rem;
    }
    .myLink{
        font-size: .8rem;
    }
    .registry-zola{
        margin-left: 30px;
    }
    .registry-amazon{
        margin-left: 0px;
    }
    .navLink:hover{
        color: inherit;
        text-decoration: none;
    }
    table{
        width: 100% !important;
    }
    #search-text{
        width: 80% !important;
    }
}

@media (min-width: 575px) {
    .navLink, .navLink:hover {
        color: inherit;
        text-decoration: inherit;
        text-align: center;
        display: inline-block;
        position: relative;
        padding: 1em;
        padding-bottom: .5rem;
        padding-top: .5rem;
        margin: -1em;
    }
    .navLink:hover .fa-nav {
        color: #F4A261;
        transition: color, 1s;
    }

    .fixed-top{
        background-color: #264653;
        margin-top: 0;
        margin-bottom: 0;
        width: auto;
        transition: background-color 1s;
    }
    .fixed-top a{
        color: #F4A261;
        transition: color 1s;
    }
    .fixed-top hr{
        display: none;
    }
    .fixed-top .fa-nav{
        display: inline-block;
        transition: display, 1s;
    }
    .nav-wrapper{
        height: 88px;
    }
    .nav-button{
        padding-bottom: .4rem;
    }
}

@media (max-width: 992px){
    .img-medium{
        max-width: 100%;
    }
    .registry-zola{
        max-width: 80%;
    }
}

/* ----------- iPad Pro ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
      h1{
          font-size: 4rem;
      }
      h2{
          font-size: 3rem;
      }
      h4{
          font-size: 2rem;
      }
      a{
          font-size: 1.2rem;
      }
      /* p{
          font-size: 1.3rem;
      } */
      .back-to-top{
          padding: 15px;
      }
}

/* Portrait */
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
}

/* Landscape */
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1.5) {

}

